/* Viewport <= 340 */
@media only screen and (max-width: 380px) {
    /* Buttons */
    .btn.button.primary-button.mr-4.text-uppercase,
    .btn.button.secondary-button.text-uppercase {
        width: 100%;
        height: 50px;
    }

    /* Header Area */
    .header_area .main-menu .navbar,
    .header_area .main-menu .navbar .navbar-brand,
    .site-main .services-area {
        padding: 2%;
        margin: 0%;
    }

    /* Banner Area */
    .site-main .site-banner .site-title h1 {
        padding-top: 10%;
        font-size: 1.8rem;
        text-align: center;
    }
    .site-main .site-banner .site-title h4 {
        padding-bottom: 2%;
        font-size: 1.3rem;
        text-align: center;
    }

    .site-main .site-banner .btn.button.primary-button.mr-4.text-uppercase {
        margin-left: 18%;
    }
    
    /* About Area */
    .site-main .about-area {
        padding-left: 7%;
        text-align: center;
    }

    .site-main .about-area h2 {
        font: normal 12px var(--audiowide);
        font-size: .5rem;
    }

    .site-main .about-area .about-title .paragraph > p {
        margin-top: -10%;
        width: 300px;
    }

    /* Services Area */
    .site-main .services-area {
        margin-top: 10%;
        margin-bottom: 10%;
    }

    .site-main > .services-area .services {
        width: 15rem;
        margin-bottom: 10%;
    }
    
    .site-main .services-area .services-title h1 {
        font-size: 1.8rem;
        margin-bottom: 10%;
    }

    /* Skills Area */
    .site-main .skills-area {
        margin-bottom: 20%;
    }

    .line-label {
        font-size: 10px;
    }

    .chart-label {
        font-size: 8px
    }

    /* Projects Area */
    .site-main .project-area .title-h1{
        font-size: 1.8rem;
        margin-top: 5%;
        margin-bottom: 10%;
    }

    .site-main .project-area .button-group {
        margin-bottom: 5%;
    }

    .site-main .project-area .button-group button + button {
        padding-left: 1rem;
    }

    /* Certificate Area */
    .site-main .project-area .title-h1 {
        font-size: 1.8rem;
    }

    .site-main .certificate-area .certificate {
        margin: 0.1rem;
        box-shadow: var(--box-shadow-light);
    }

    .site-main .certificate-area .certificate .about-certificate h4 {
        font-size: 12px;
      }
      
      .site-main .certificate-area .certificate .about-certificate p {
        font-size: 10px;
      }

      .site-main .certificate-area .certificate .about-certificate i {
        font-size: 10px;
      }

    /* Footer Area */
    footer.footer-area .social a > i {
        font-size: 25px;
        padding: 1rem;
        color: lightgrey;
    }
}

/* Viewport <= 792 */
@media only screen and (max-width: 792px) {
    /* Buttons */
    .btn.button.primary-button.mr-4.text-uppercase {
        width: 180px;
        font-size: 13px;
    }
    .btn.button.secondary-button.text-uppercase {
        width: 180px; 
        font-size: 17px;
    }

    /* About Area */
    .site-main .about-area .about-title h2 > span {
        font: normal 12px var(--audiowide);
        font-size: 1.5rem;
        
    }

    /* Certificate Area */
    .site-main > .services-area .services {
        margin: 0.5rem .5rem;
    }
    
    /* Skills Area */
    .line-label {
        font-size: 12px;
    }
    .chart-label {
        font-size: 10px
    }

    /* Project Area */
    .site-main .project-area .button-group button {
        font: normal 500 18px/40px var(--roboto);
    }
    .site-main .project-area .button-group button {
        font-size: 14px;
    }
    .site-main .project-area .grid .my-project > .title h4 {
        font-size: 20px;
    }
    .site-main .project-area .grid .my-project > .title > span {
        font-size: 14px;
    }

    .col-lg-4.col-md-6.col-sm-12.element-item .project-image {
        width: 250px;
        height: 250px;
    }

    /* Certificate Area */
    .site-main .certificate-area .certificate-title .title-h1 {
        margin-bottom: 5%;
    }
    
    .site-main .certificate-area {
        margin-bottom: 10%;
    }
    
    /* Contact Area */
    .site-main .contact-area .contact-title .title-h1 {
        padding-top: 5%;
        margin-bottom: 5%;
    }
}

/* Viewport >= 900 */
@media only screen and (min-width: 900px) {
    /* Header Area */
    .header_area .main-menu .nav-item .nav-link {
        padding: 1rem;
    }

    /* Banner Area */
    .site-main .site-banner .site-title h1 {
        font-size: 2.5rem;
    }

    .site-main .site-banner .site-title h4 {
        font-size: 1.7rem;
    }

    /* Services Area */
    .site-main .services-area .services h5 {
        font-size: 18px;
    }
    .site-main > .services-area .services {
        font-size: 13px;
        width: 12rem;
    }

    /* Project Area */
    .col-lg-4.col-md-6.col-sm-12.element-item .project-image {
        width: 275px;
        height: 275px;
    }

    .site-main .project-area .grid .my-project > .title h4 {
        font-size: 18px;
    }
}

/* Viewport <= 1910 */
@media only screen and (max-width: 1910px) {
    .btn.button.primary-button.mr-4.text-uppercase {
        width: 200px;
        font-size: 14px;
    }

    /* Header Area */
    .header_area .main-menu .navbar{
        padding: 1rem;
    }

    .container{
        max-width: 90%;
    }

    /* Services & Certificates Area */
    .site-main .services-area .services-title,
    .site-main .certificate-area{
        padding: 3% 4%;
    }
}

/* Viewport <= 990 */
@media screen and (max-width:990px){
    .skills-container {
        grid-tempLate-columns: repeat(2, 1fr);
        padding: 2rem 50px;
    }
}

/* Viewport <= 650px */
@media screen and (max-width:650px){
    .skills-container {
        grid-tempLate-columns:2fr;
        padding: 2rem 50px;
    }
}